input {
    width: 90%;
    border: none;
    height: 50px;
    margin: 2em auto;
    display: block;
    background: transparent;
    border-bottom: 1px solid rgba(0,0,0,.2);
    font-size: 1em;
    font-weight: lighter;
    box-shadow: none;
    outline: 0;
}