/* You can add global styles to this file, and also import other style files */
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #FCFCFC;
    font-family: 'Open Sans', sans-serif;
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.loading {
    position: relative;
    margin: 1em 0;
}


.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }